### In this setup we will use closing price only

In [1]:
import pandas as pd 
import numpy as np

pd.options.display.max_columns=None

import warnings
warnings.filterwarnings('ignore')

In [2]:
from Scripts import *
print(DATA_HOME)

E:\Msc\LabTest\stockAnalysis\datab

In [3]:
apollohosp = pd.read_csv(DATA_HOME+'\\apollohosp\\apollohosp_master.csv')
apollohosp = apollohosp.drop(['FibonacciLevels','LeadingFibonacciLevel'],axis=1)
apollohosp.head(5)

,Date,Close,Volume,Revenue,Other Income,Total Income,Expenditure,Operating Profit,Interest,PBDT,Depreciation,PBT,Tax,Net Profit,EPS (Rs),RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband,LeadingClose
0,2016-01-01,1428.506104,107024,1680.61,3.08,1683.69,1486.53,1333.5,51.33,73.0,61.76,84.07,11.24,72.83,5.23,64.077246,1.939377,1415.803545,27.112706,-1388.690839,1388.802525,56.635556,1403.824646,1458.313121,1349.336171,1418.042358
1,2016-01-04,1418.042358,121226,1680.61,3.08,1683.69,1486.53,1333.5,51.33,73.0,61.76,84.07,11.24,72.83,5.23,60.422239,1.670450,1416.251308,25.887594,-1390.363714,1391.460692,59.080965,1407.320600,1458.384359,1356.256841,1436.035645
2,2016-01-05,1436.035645,667535,1680.61,3.08,1683.69,1486.53,1333.5,51.33,73.0,61.76,84.07,11.24,72.83,5.23,64.203471,1.948665,1420.208175,26.068095,-1394.140080,1395.512960,52.770482,1412.660575,1458.333773,1366.987377,1423.176514
3,2016-01-06,1423.176514,233987,1680.61,3.08,1683.69,1486.53,1333.5,51.33,73.0,61.76,84.07,11.24,72.83,5.23,59.805908,1.625101,1420.801843,24.886641,-1395.915202,1398.027829,57.806178,1418.077401,1444.170582,1391.984220,1365.774170
4,2016-01-07,1365.774170,184861,1680.61,3.08,1683.69,1486.53,1333.5,51.33,73.0,61.76,84.07,11.24,72.83,5.23,44.991438,0.535084,1409.796308,19.098288,-1390.698020,1395.095678,54.026040,1416.135603,1452.360113,1379.911092,1373.499512

In [4]:
apollohosp['Date'] = pd.to_datetime(apollohosp['Date'],format='%Y-%m-%d')
apollohosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   1459 non-null   datetime64[ns]
 1   Close                  1459 non-null   float64
 2   Volume                 1459 non-null   int64
 3   Revenue                1459 non-null   float64
 4   Other Income           1459 non-null   float64
 5   Total Income           1459 non-null   float64
 6   Expenditure            1459 non-null   float64
 7   Operating Profit       1459 non-null   float64
 8   Interest               1459 non-null   float64
 9   PBDT                   1459 non-null   float64
 10  Depreciation           1459 non-null   float64
 11  PBT                    1459 non-null   float64
 12  Tax                    1459 non-null   float64
 13  Net Profit             1459 non-null   float64
 14  EPS (Rs)               1459 non-null   float64
 15  RSI                    1459 non-null   float64
 16  stockRSI               1459 non-null   float64
 17  macd_strength          1459 non-null   float64
 18  macd                   1459 non-null   float64
 19  macd_h                 1459 non-null   float64
 20  ema                    1459 non-null   float64
 21  CI                     1459 non-null   float64
 22  Bollinger_centralBand  1459 non-null   float64
 23  Bollinger_upperBand    1459 non-null   float64
 24  Bollinger_lowerband    1459 non-null   float64
 25  LeadingClose           1459 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(1)
memory usage: 296.5 KB

In [5]:
apollohosp = apollohosp.set_index('Date')

In [6]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler= MinMaxScaler()
apollohosp_data = scaler.fit_transform(apollohosp.drop('LeadingClose',axis=1))

In [8]:
pca = PCA(n_components=10)
pca.fit(apollohosp_data)
print(pca.explained_variance_ratio_)

[0.60251824 0.18468468 0.10989984 0.04075669 0.02536277 0.0167211
 0.00868843 0.00375144 0.00330258 0.00276114]

In [9]:
n_pcs= pca.components_.shape[0]
most_important = [np.abs(pca.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names= apollohosp.columns
most_important_names = [initial_feature_names[most_important[i]] for i in range(n_pcs)]


dic1 = {'PC{}'.format(i): most_important_names[i] for i in range(n_pcs)}


df = pd.DataFrame(dic1.items())
df

     0             1
0  PC0          PBDT
1  PC1      Interest
2  PC2      EPS (Rs)
3  PC3      stockRSI
4  PC4  Other Income
5  PC5            CI
6  PC6   Expenditure
7  PC7          macd
8  PC8        Volume
9  PC9          macd

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
#plt.figure(figsize=(20,8))
#sns.heatmap(apollohosp_data.corr(),annot=True)

In [13]:
# Checking the same for other stocks
dabur = pd.read_csv(DATA_HOME+'\\dabur\\dabur_master.csv')
dabur = dabur.drop(['FibonacciLevels','LeadingFibonacciLevel'],axis=1)

dabur['Date'] = pd.to_datetime(dabur['Date'],format='%Y-%m-%d')

dabur = dabur.set_index('Date')

scaler= MinMaxScaler()
dabur_data = scaler.fit_transform(dabur.drop('LeadingClose',axis=1))

pca = PCA(n_components=10)
pca.fit(dabur_data)
print(pca.explained_variance_ratio_)

n_pcs= pca.components_.shape[0]
most_important = [np.abs(pca.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names= dabur.columns
most_important_names = [initial_feature_names[most_important[i]] for i in range(n_pcs)]


dic2 = {'PC{}'.format(i): most_important_names[i] for i in range(n_pcs)}


df = pd.DataFrame(dic2.items())
df

[0.50555549 0.20422048 0.07400996 0.06049589 0.05635686 0.02718053
 0.0239289  0.02214998 0.01089757 0.00639003]

     0             1
0  PC0   Expenditure
1  PC1        macd_h
2  PC2      stockRSI
3  PC3           Tax
4  PC4      EPS (Rs)
5  PC5      Interest
6  PC6            CI
7  PC7  Other Income
8  PC8      Interest
9  PC9        Volume

In [14]:
plt.figure(figsize=(20,8))
sns.heatmap(dabur_data.corr(),annot=True)

AttributeError: 'numpy.ndarray' object has no attribute 'corr'

In [15]:
maruti = pd.read_csv(DATA_HOME+'\\maruti\\maruti_master.csv')
maruti = maruti.drop(['FibonacciLevels','LeadingFibonacciLevel'],axis=1)

maruti['Date'] = pd.to_datetime(maruti['Date'],format='%Y-%m-%d')

maruti = maruti.set_index('Date')

scaler= MinMaxScaler()
maruti_data = scaler.fit_transform(maruti.drop('LeadingClose',axis=1))

pca = PCA(n_components=10)
pca.fit(maruti_data)
print(pca.explained_variance_ratio_)

n_pcs= pca.components_.shape[0]
most_important = [np.abs(pca.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names= maruti.columns
most_important_names = [initial_feature_names[most_important[i]] for i in range(n_pcs)]


dic3 = {'PC{}'.format(i): most_important_names[i] for i in range(n_pcs)}


df = pd.DataFrame(dic3.items())
df

[0.40370973 0.2765878  0.10316584 0.0769271  0.05118549 0.02984899
 0.02412082 0.01703224 0.00802652 0.00498089]

     0             1
0  PC0        macd_h
1  PC1           Tax
2  PC2      stockRSI
3  PC3  Depreciation
4  PC4  Depreciation
5  PC5      Interest
6  PC6            CI
7  PC7  Other Income
8  PC8        Volume
9  PC9          macd

In [16]:
plt.figure(figsize=(20,8))
sns.heatmap(maruti_data.corr(),annot=True)

AttributeError: 'numpy.ndarray' object has no attribute 'corr'

In [17]:
tcs = pd.read_csv(DATA_HOME+'\\tcs\\tcs_master.csv')
tcs = tcs.drop(['FibonacciLevels','LeadingFibonacciLevel'],axis=1)

tcs['Date'] = pd.to_datetime(tcs['Date'],format='%Y-%m-%d')

tcs = tcs.set_index('Date')

scaler= MinMaxScaler()
tcs_data = scaler.fit_transform(tcs.drop('LeadingClose',axis=1))

pca = PCA(n_components=10)
pca.fit(tcs_data)
print(pca.explained_variance_ratio_)

n_pcs= pca.components_.shape[0]
most_important = [np.abs(pca.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names= tcs.columns
most_important_names = [initial_feature_names[most_important[i]] for i in range(n_pcs)]


dic4 = {'PC{}'.format(i): most_important_names[i] for i in range(n_pcs)}


df = pd.DataFrame(dic4.items())
df

[0.74428112 0.08502761 0.05183803 0.04405845 0.03179958 0.01553835
 0.01087154 0.00645629 0.00519022 0.00304018]

     0             1
0  PC0          PBDT
1  PC1  Other Income
2  PC2      Interest
3  PC3      EPS (Rs)
4  PC4      stockRSI
5  PC5            CI
6  PC6            CI
7  PC7  Depreciation
8  PC8          PBDT
9  PC9          macd

In [18]:
plt.figure(figsize=(20,8))
sns.heatmap(tcs_data.corr(),annot=True)

AttributeError: 'numpy.ndarray' object has no attribute 'corr'

In [19]:
maruti.info(),tcs.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1459 entries, 2016-01-01 to 2021-11-30
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Close                  1459 non-null   float64
 1   Volume                 1459 non-null   int64
 2   Revenue                1459 non-null   float64
 3   Other Income           1459 non-null   float64
 4   Total Income           1459 non-null   float64
 5   Expenditure            1459 non-null   float64
 6   Operating Profit       1459 non-null   float64
 7   Interest               1459 non-null   float64
 8   PBDT                   1459 non-null   float64
 9   Depreciation           1459 non-null   float64
 10  PBT                    1459 non-null   float64
 11  Tax                    1459 non-null   float64
 12  Net Profit             1459 non-null   float64
 13  EPS (Rs)               1459 non-null   float64
 14  RSI                    1459 non-null   float64
 15  stockRSI               1459 non-null   float64
 16  macd_strength          1459 non-null   float64
 17  macd                   1459 non-null   float64
 18  macd_h                 1459 non-null   float64
 19  ema                    1459 non-null   float64
 20  CI                     1459 non-null   float64
 21  Bollinger_centralBand  1459 non-null   float64
 22  Bollinger_upperBand    1459 non-null   float64
 23  Bollinger_lowerband    1459 non-null   float64
 24  LeadingClose           1459 non-null   float64
dtypes: float64(24), int64(1)
memory usage: 296.4 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1459 entries, 2016-01-01 to 2021-11-30
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Close                  1459 non-null   float64
 1   Volume                 1459 non-null   int64
 2   Revenue                1459 non-null   float64
 3   Other Income           1459 non-null   float64
 4   Total Income           1459 non-null   float64
 5   Expenditure            1459 non-null   float64
 6   Operating Profit       1459 non-null   float64
 7   Interest               1459 non-null   float64
 8   PBDT                   1459 non-null   float64
 9   Depreciation           1459 non-null   float64
 10  PBT                    1459 non-null   float64
 11  Tax                    1459 non-null   float64
 12  Net Profit             1459 non-null   float64
 13  EPS (Rs)               1459 non-null   float64
 14  RSI                    1459 non-null   float64
 15  stockRSI               1459 non-null   float64
 16  macd_strength          1459 non-null   float64
 17  macd                   1459 non-null   float64
 18  macd_h                 1459 non-null   float64
 19  ema                    1459 non-null   float64
 20  CI                     1459 non-null   float64
 21  Bollinger_centralBand  1459 non-null   float64
 22  Bollinger_upperBand    1459 non-null   float64
 23  Bollinger_lowerband    1459 non-null   float64
 24  LeadingClose           1459 non-null   float64
dtypes: float64(24), int64(1)
memory usage: 296.4 KB

(None, None)

In [20]:
imp_col_list=['Close','PBDT','RSI','macd','Volume','EPS (Rs)','CI']

In [21]:
apollohosp = apollohosp[imp_col_list]
dabur=dabur[imp_col_list]
maruti=maruti[imp_col_list]
tcs=tcs[imp_col_list]

In [22]:
apollohosp.to_csv(DATA_HOME+'\\apollohosp\\apollohosp_expsetup1.csv')
dabur.to_csv(DATA_HOME+'\\dabur\\dabur_expsetup1.csv')
maruti.to_csv(DATA_HOME+'\\maruti\\maruti_expsetup1.csv')
tcs.to_csv(DATA_HOME+'\\tcs\\tcs_expsetup1.csv')