## Calculation of Technical Indicators using Price Data

In [1]:
# Importing libraries
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
from Scripts import *
print(DATA_HOME)

E:\Msc\LabTest\stockAnalysis\datab

In [3]:
# Read data for apollohosp

apollohosp = pd.read_csv(DATA_HOME+'\\apollohosp\\apollohosp.csv')
apollohosp.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0

In [4]:
def rsi(datadf, windowdays=14):
    '''
    Calculates and returns rsi values for given window size
    RSI=100-[100/(1+(Average gain)/(Average Loss))] , Default windowsize=14 days
    '''
    length = len(datadf)
    datadf['Up'] = 0
    datadf['Down'] = 0
    datadf['AverageGain'] =0
    datadf['AverageLoss'] =0
    datadf['RStrength']=0
    datadf['RSI']=0
    
    for i in range(1,length):
        if datadf['Close'][i] >=datadf['Close'][i-1] :
            datadf['Up'][i] = datadf['Close'][i] - datadf['Close'][i-1]
        else:
            datadf['Down'][i] = abs(datadf['Close'][i] - datadf['Close'][i-1])
    
    # Calculating average for 14 days RSI
    for i in range(windowdays,length):
        if i==windowdays:
            datadf['AverageGain'][i] = datadf['Up'][1:(i+1)].mean()
            datadf['AverageLoss'][i] = datadf['Down'][1:(i+1)].mean()
        else:
            datadf['AverageGain'][i] = ((windowdays-1)*datadf['AverageGain'][i-1]+datadf['Up'][i])/windowdays
            datadf['AverageLoss'][i] = ((windowdays-1)*datadf['AverageLoss'][i-1]+datadf['Down'][i])/windowdays
            
        datadf['RStrength'][i] = datadf['AverageGain'][i]/datadf['AverageLoss'][i]
        datadf['RSI'][i] = 100 - (100/(1+datadf['RStrength'][i]))
    
    datadf = datadf.drop(['Up','Down','AverageGain','AverageLoss','RStrength'],axis=1)
    
    return datadf

In [5]:
apollohosp = rsi(apollohosp, windowdays=14)

In [6]:
apollohosp.head(30)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,0.000000
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,0.000000
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,0.000000
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,0.000000
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000
5,2014-03-05,874.411689,883.999288,874.411689,878.818115,161162,0.0,0,0.000000
6,2014-03-06,879.835020,885.064663,867.874711,870.005249,117509,0.0,0,0.000000
7,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,0.000000
8,2014-03-10,860.950236,861.289169,837.707485,844.874023,141440,0.0,0,0.000000
9,2014-03-11,846.810872,858.044844,826.086063,827.974548,132434,0.0,0,0.000000
10,2014-03-12,828.022978,844.002368,825.214455,836.448486,141798,0.0,0,0.000000
11,2014-03-13,845.454955,852.234089,827.538670,831.170349,116702,0.0,0,0.000000
12,2014-03-14,845.455117,845.455117,830.928396,836.690674,221085,0.0,0,0.000000
13,2014-03-18,836.061156,849.328906,832.477887,846.859375,124700,0.0,0,0.000000
14,2014-03-19,852.137374,861.724973,833.833684,854.752136,134676,0.0,0,38.831343
15,2014-03-20,846.423500,854.171084,842.549709,847.488770,53398,0.0,0,36.642314
16,2014-03-21,849.183562,878.769694,849.183562,869.666260,174879,0.0,0,46.550069
17,2014-03-24,875.283298,880.125538,861.531324,875.428589,116263,0.0,0,48.790823
18,2014-03-25,867.729364,873.927454,862.790303,866.809326,78974,0.0,0,45.704358
19,2014-03-26,862.887127,868.891516,856.543804,862.983948,87586,0.0,0,44.363035
20,2014-03-27,849.425644,895.814323,849.425644,882.837097,266461,0.0,0,52.203031
21,2014-03-28,876.445417,886.129897,872.668447,883.515076,132294,0.0,0,52.449453
22,2014-03-31,873.588445,889.035201,873.588445,887.534119,118241,0.0,0,53.964624
23,2014-04-01,889.035236,889.035236,871.603172,876.881226,93671,0.0,0,49.465402
24,2014-04-02,869.666265,878.430707,869.666265,872.813721,87840,0.0,0,47.825810
25,2014-04-03,871.651505,894.845843,871.603094,885.548767,262920,0.0,0,53.070690
26,2014-04-04,886.129921,890.875340,869.860006,871.651611,124194,0.0,0,47.463449
27,2014-04-07,872.668512,877.704453,857.076522,865.405151,115761,0.0,0,45.154126
28,2014-04-09,872.862217,872.862217,852.524808,860.950317,312115,0.0,0,43.527559
29,2014-04-10,866.760861,866.760861,859.981725,864.872375,92655,0.0,0,45.392620

In [7]:
# Calculating Stochaststic RSI values
def stochastic_RSI(datadf, windowsize=14):
    '''
    This function computes stochastic RSI values using RSI values 
    StochasticRSI = (RSI - min (RSI))/(max(RSI) - min(RSI)) , default look back period 14 days
    '''
    length=len(datadf)
    datadf['minRSI'] =0
    datadf['maxRSI'] =0
    datadf['stockRSI'] =0
    for i in range(windowsize,length):
        datadf['minRSI'] = datadf['RSI'][i-windowsize : i+1 ].min()
        datadf['maxRSI'] = datadf['RSI'][i-windowsize : i+1 ].max()
    
    datadf['stockRSI'] = (datadf['RSI'] - datadf['minRSI'])/(datadf['maxRSI'] - datadf['minRSI'])
    
    datadf = datadf.drop(['minRSI','maxRSI'],axis=1)
    return datadf

In [8]:
apollohosp = stochastic_RSI(apollohosp,windowsize=14)

In [9]:
# MACD Calculation
def macd(datadf,emawindowLow=12,windowHigh=26,strengthLkp=9):
    '''
    This function calculates MACD momentum and strength
    MACD = EMA(12days)- EMA(26 days) , Strength = MACD - EMA(MACD,9days)
    '''
    datadf['ema_low'] = datadf['Close'].ewm(span=emawindowLow,adjust=False, min_periods=emawindowLow).mean()
    datadf['ema_high'] = datadf['Close'].ewm(span=windowHigh,adjust=False, min_periods=windowHigh).mean()
    
    datadf['macd_strength'] = datadf['Close'].ewm(span=strengthLkp,adjust=False, min_periods=strengthLkp).mean()
    
    datadf['macd'] = datadf['ema_low'] - datadf['ema_high']
    datadf['macd_h'] = datadf['macd'] - datadf['macd_strength']
    
    datadf = datadf.drop(['ema_low','ema_high'],axis=1)
    
    return datadf

In [10]:
apollohosp = macd(apollohosp)
apollohosp.head(50)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
5,2014-03-05,874.411689,883.999288,874.411689,878.818115,161162,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
6,2014-03-06,879.835020,885.064663,867.874711,870.005249,117509,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
7,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,0.000000,-2.775289,NaN,NaN,NaN
8,2014-03-10,860.950236,861.289169,837.707485,844.874023,141440,0.0,0,0.000000,-2.775289,868.391374,NaN,NaN
9,2014-03-11,846.810872,858.044844,826.086063,827.974548,132434,0.0,0,0.000000,-2.775289,860.308009,NaN,NaN
10,2014-03-12,828.022978,844.002368,825.214455,836.448486,141798,0.0,0,0.000000,-2.775289,855.536105,NaN,NaN
11,2014-03-13,845.454955,852.234089,827.538670,831.170349,116702,0.0,0,0.000000,-2.775289,850.662954,NaN,NaN
12,2014-03-14,845.455117,845.455117,830.928396,836.690674,221085,0.0,0,0.000000,-2.775289,847.868498,NaN,NaN
13,2014-03-18,836.061156,849.328906,832.477887,846.859375,124700,0.0,0,0.000000,-2.775289,847.666673,NaN,NaN
14,2014-03-19,852.137374,861.724973,833.833684,854.752136,134676,0.0,0,38.831343,0.081838,849.083766,NaN,NaN
15,2014-03-20,846.423500,854.171084,842.549709,847.488770,53398,0.0,0,36.642314,-0.079226,848.764766,NaN,NaN
16,2014-03-21,849.183562,878.769694,849.183562,869.666260,174879,0.0,0,46.550069,0.649765,852.945065,NaN,NaN
17,2014-03-24,875.283298,880.125538,861.531324,875.428589,116263,0.0,0,48.790823,0.814635,857.441770,NaN,NaN
18,2014-03-25,867.729364,873.927454,862.790303,866.809326,78974,0.0,0,45.704358,0.587540,859.315281,NaN,NaN
19,2014-03-26,862.887127,868.891516,856.543804,862.983948,87586,0.0,0,44.363035,0.488848,860.049014,NaN,NaN
20,2014-03-27,849.425644,895.814323,849.425644,882.837097,266461,0.0,0,52.203031,1.065698,864.606631,NaN,NaN
21,2014-03-28,876.445417,886.129897,872.668447,883.515076,132294,0.0,0,52.449453,1.083829,868.388320,NaN,NaN
22,2014-03-31,873.588445,889.035201,873.588445,887.534119,118241,0.0,0,53.964624,1.195312,872.217480,NaN,NaN
23,2014-04-01,889.035236,889.035236,871.603172,876.881226,93671,0.0,0,49.465402,0.864269,873.150229,NaN,NaN
24,2014-04-02,869.666265,878.430707,869.666265,872.813721,87840,0.0,0,47.825810,0.743631,873.082927,NaN,NaN
25,2014-04-03,871.651505,894.845843,871.603094,885.548767,262920,0.0,0,53.070690,1.129538,875.576095,2.916014,-872.660081
26,2014-04-04,886.129921,890.875340,869.860006,871.651611,124194,0.0,0,47.463449,0.716970,874.791198,2.570581,-872.220618
27,2014-04-07,872.668512,877.704453,857.076522,865.405151,115761,0.0,0,45.154126,0.547055,872.913989,1.772355,-871.141634
28,2014-04-09,872.862217,872.862217,852.524808,860.950317,312115,0.0,0,43.527559,0.427375,870.521255,0.771395,-869.749860
29,2014-04-10,866.760861,866.760861,859.981725,864.872375,92655,0.0,0,45.392620,0.564603,869.391479,0.291247,-869.100232
30,2014-04-11,864.824065,876.445441,855.139585,868.165222,145225,0.0,0,46.975950,0.681101,869.146228,0.174421,-868.971807
31,2014-04-15,866.760870,870.150438,856.156354,861.967041,53231,0.0,0,44.368180,0.489227,867.710390,-0.413539,-868.123929
32,2014-04-16,857.609105,867.729399,852.815276,859.013367,78856,0.0,0,43.139189,0.398800,865.970986,-1.105099,-867.076085
33,2014-04-17,858.335466,866.276751,843.372932,862.064026,79320,0.0,0,44.838713,0.523847,865.189594,-1.390969,-866.580563
34,2014-04-21,862.063971,871.603160,859.933374,863.613464,54089,0.0,0,45.726015,0.589133,864.874368,-1.475488,-866.349855
35,2014-04-22,864.872337,873.539957,854.074179,859.352173,219099,0.0,0,43.646610,0.436135,863.769929,-1.864823,-865.634752
36,2014-04-23,859.352250,866.567199,852.234181,856.737488,172396,0.0,0,42.373310,0.342448,862.363441,-2.357186,-864.720626
37,2014-04-24,856.737488,856.737488,856.737488,856.737488,0,0.0,0,42.373310,0.342448,861.238250,-2.716077,-863.954327
38,2014-04-25,850.394126,875.476952,850.394126,863.613464,184265,0.0,0,47.081681,0.688880,861.713293,-2.417797,-864.131089
39,2014-04-28,871.796830,890.487863,871.796830,881.239197,488222,0.0,0,56.820789,1.405463,865.618474,-0.750506,-866.368980
40,2014-04-29,882.304528,894.507008,872.571638,876.784363,160588,0.0,0,54.110214,1.206024,867.851651,0.208957,-867.642695
41,2014-04-30,872.668309,884.192862,862.887010,866.131287,284238,0.0,0,48.189977,0.770426,867.507579,0.108473,-867.399105
42,2014-05-02,863.855628,886.129932,863.855628,882.062439,120872,0.0,0,55.951513,1.341503,870.418551,1.299372,-869.119179
43,2014-05-05,883.272883,947.819959,883.272883,925.206665,756336,0.0,0,69.345037,2.326970,881.376173,5.659309,-875.716864
44,2014-05-06,929.710059,933.874373,910.341099,926.659424,136633,0.0,0,69.679354,2.351568,890.432824,9.126611,-881.306213
45,2014-05-07,921.962449,924.819382,895.814354,901.092407,101016,0.0,0,57.744004,1.473391,892.564740,9.699616,-882.865124
46,2014-05-08,892.909111,911.358034,892.037484,896.443970,57634,0.0,0,55.870205,1.335521,893.340586,9.667200,-883.673387
47,2014-05-09,903.465071,912.084222,890.972070,899.736511,76214,0.0,0,56.936157,1.413951,894.619771,9.794287,-884.825484
48,2014-05-12,898.719699,931.356407,894.410094,920.122375,207137,0.0,0,62.909899,1.853486,899.720292,11.408465,-888.311827
49,2014-05-13,920.025511,920.509735,910.341032,918.766541,117160,0.0,0,62.290998,1.807949,903.529542,12.434965,-891.094577

In [11]:
# Exponential Moving Average Calculation
def current_EMA(datadf,ma_days=21):
    '''
    Calculates Exponential Moving Average for ma_days
    Current EMA =  
    (Current value * (1 +( Constant /(1+ days of interest)) + (Previous EMA * (1 -( Constant /(1+ days of interest)), constant is a number generally 2
    '''
    datadf['ema'] = datadf['Close'].ewm(span=ma_days,adjust=False).mean()
    
    return datadf

In [12]:
# Create new dataframe to store EMA results
apollohosp = current_EMA(apollohosp)
apollohosp.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,0.0,-2.775289,NaN,NaN,NaN,883.999390
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,0.0,-2.775289,NaN,NaN,NaN,883.647217
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,0.0,-2.775289,NaN,NaN,NaN,884.339527
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,0.0,-2.775289,NaN,NaN,NaN,883.401779
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.0,-2.775289,NaN,NaN,NaN,882.289559

In [13]:
# Choppiness Index Calculation
def choppiness_index(datadf,lookback=14):
    '''
    Calculate Choppiness Index for the trend 
    CI = 100 * log10(sum(Average Range of price over past n steps)/(Highest price during n steps -Lowest price during n steps))) / log10(n), 
    where n_steps= user defined length 
    '''
    # True Range
    length = len(datadf)
    datadf['tr']=0
    for i in range(1,length):
        datadf['tr'][i] = max([datadf['High'][i] -datadf['Low'][i],datadf['High'][i] - datadf['Close'][i-1],datadf['Close'][i-1] - datadf['Low'][i]])
        
    # ATR : Average True Range 
    datadf['ATR']=0
    datadf['ATR'] = datadf['tr'].rolling(lookback).mean()
    
    # ATR Sum
    
    datadf['ATR_sum'] = datadf['ATR'].rolling(lookback).sum()
    
    # Division 
    datadf['temp'] = datadf['ATR_sum'] /(datadf['High'].rolling(lookback).max() - datadf['Low'].rolling(lookback).min())
    
    # Choppiness Index
    datadf['CI']= 100 * np.log10(datadf['temp']) / np.log10(lookback)
    
    datadf = datadf.drop(['tr','ATR','ATR_sum','temp'],axis=1)
    
    return datadf

In [14]:
apollohosp = choppiness_index(apollohosp)
apollohosp.head(30)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,CI
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.999390,NaN
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.647217,NaN
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,884.339527,NaN
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.401779,NaN
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,882.289559,NaN
5,2014-03-05,874.411689,883.999288,874.411689,878.818115,161162,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,881.973973,NaN
6,2014-03-06,879.835020,885.064663,867.874711,870.005249,117509,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,880.885907,NaN
7,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,878.910700,NaN
8,2014-03-10,860.950236,861.289169,837.707485,844.874023,141440,0.0,0,0.000000,-2.775289,868.391374,NaN,NaN,875.816457,NaN
9,2014-03-11,846.810872,858.044844,826.086063,827.974548,132434,0.0,0,0.000000,-2.775289,860.308009,NaN,NaN,871.467192,NaN
10,2014-03-12,828.022978,844.002368,825.214455,836.448486,141798,0.0,0,0.000000,-2.775289,855.536105,NaN,NaN,868.283674,NaN
11,2014-03-13,845.454955,852.234089,827.538670,831.170349,116702,0.0,0,0.000000,-2.775289,850.662954,NaN,NaN,864.909735,NaN
12,2014-03-14,845.455117,845.455117,830.928396,836.690674,221085,0.0,0,0.000000,-2.775289,847.868498,NaN,NaN,862.344366,NaN
13,2014-03-18,836.061156,849.328906,832.477887,846.859375,124700,0.0,0,0.000000,-2.775289,847.666673,NaN,NaN,860.936639,NaN
14,2014-03-19,852.137374,861.724973,833.833684,854.752136,134676,0.0,0,38.831343,0.081838,849.083766,NaN,NaN,860.374412,NaN
15,2014-03-20,846.423500,854.171084,842.549709,847.488770,53398,0.0,0,36.642314,-0.079226,848.764766,NaN,NaN,859.202990,NaN
16,2014-03-21,849.183562,878.769694,849.183562,869.666260,174879,0.0,0,46.550069,0.649765,852.945065,NaN,NaN,860.154196,NaN
17,2014-03-24,875.283298,880.125538,861.531324,875.428589,116263,0.0,0,48.790823,0.814635,857.441770,NaN,NaN,861.542777,NaN
18,2014-03-25,867.729364,873.927454,862.790303,866.809326,78974,0.0,0,45.704358,0.587540,859.315281,NaN,NaN,862.021555,NaN
19,2014-03-26,862.887127,868.891516,856.543804,862.983948,87586,0.0,0,44.363035,0.488848,860.049014,NaN,NaN,862.109045,NaN
20,2014-03-27,849.425644,895.814323,849.425644,882.837097,266461,0.0,0,52.203031,1.065698,864.606631,NaN,NaN,863.993413,NaN
21,2014-03-28,876.445417,886.129897,872.668447,883.515076,132294,0.0,0,52.449453,1.083829,868.388320,NaN,NaN,865.768110,NaN
22,2014-03-31,873.588445,889.035201,873.588445,887.534119,118241,0.0,0,53.964624,1.195312,872.217480,NaN,NaN,867.746838,NaN
23,2014-04-01,889.035236,889.035236,871.603172,876.881226,93671,0.0,0,49.465402,0.864269,873.150229,NaN,NaN,868.577237,NaN
24,2014-04-02,869.666265,878.430707,869.666265,872.813721,87840,0.0,0,47.825810,0.743631,873.082927,NaN,NaN,868.962372,NaN
25,2014-04-03,871.651505,894.845843,871.603094,885.548767,262920,0.0,0,53.070690,1.129538,875.576095,2.916014,-872.660081,870.470226,NaN
26,2014-04-04,886.129921,890.875340,869.860006,871.651611,124194,0.0,0,47.463449,0.716970,874.791198,2.570581,-872.220618,870.577624,57.276147
27,2014-04-07,872.668512,877.704453,857.076522,865.405151,115761,0.0,0,45.154126,0.547055,872.913989,1.772355,-871.141634,870.107400,58.245043
28,2014-04-09,872.862217,872.862217,852.524808,860.950317,312115,0.0,0,43.527559,0.427375,870.521255,0.771395,-869.749860,869.274938,63.803049
29,2014-04-10,866.760861,866.760861,859.981725,864.872375,92655,0.0,0,45.392620,0.564603,869.391479,0.291247,-869.100232,868.874705,68.624173

In [15]:
def bollinger_bands(datadf,k=2,n_days=14):
    datadf['Bollinger_centralBand'] = datadf['Close'].rolling(n_days).mean()
    
    datadf['Bollinger_upperBand'] = datadf['Bollinger_centralBand'] + k*datadf['Close'].rolling(n_days).std()
    
    datadf['Bollinger_lowerband'] = datadf['Bollinger_centralBand'] - k*datadf['Close'].rolling(n_days).std()
    
    return datadf

In [16]:
apollohosp = bollinger_bands(apollohosp)
apollohosp.head(40)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2014-02-25,881.481448,888.744809,880.319299,883.999390,49759,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.999390,NaN,NaN,NaN,NaN
1,2014-02-26,890.923707,890.923707,876.832801,880.125488,63923,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.647217,NaN,NaN,NaN,NaN
2,2014-02-28,867.438838,898.719695,867.438838,891.262634,229839,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,884.339527,NaN,NaN,NaN,NaN
3,2014-03-03,890.972131,894.797513,872.813732,874.024292,39652,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,883.401779,NaN,NaN,NaN,NaN
4,2014-03-04,875.041150,882.256099,866.809343,871.167358,74965,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,882.289559,NaN,NaN,NaN,NaN
5,2014-03-05,874.411689,883.999288,874.411689,878.818115,161162,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,881.973973,NaN,NaN,NaN,NaN
6,2014-03-06,879.835020,885.064663,867.874711,870.005249,117509,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,880.885907,NaN,NaN,NaN,NaN
7,2014-03-07,879.350747,879.350747,857.076444,859.158630,121701,0.0,0,0.000000,-2.775289,NaN,NaN,NaN,878.910700,NaN,NaN,NaN,NaN
8,2014-03-10,860.950236,861.289169,837.707485,844.874023,141440,0.0,0,0.000000,-2.775289,868.391374,NaN,NaN,875.816457,NaN,NaN,NaN,NaN
9,2014-03-11,846.810872,858.044844,826.086063,827.974548,132434,0.0,0,0.000000,-2.775289,860.308009,NaN,NaN,871.467192,NaN,NaN,NaN,NaN
10,2014-03-12,828.022978,844.002368,825.214455,836.448486,141798,0.0,0,0.000000,-2.775289,855.536105,NaN,NaN,868.283674,NaN,NaN,NaN,NaN
11,2014-03-13,845.454955,852.234089,827.538670,831.170349,116702,0.0,0,0.000000,-2.775289,850.662954,NaN,NaN,864.909735,NaN,NaN,NaN,NaN
12,2014-03-14,845.455117,845.455117,830.928396,836.690674,221085,0.0,0,0.000000,-2.775289,847.868498,NaN,NaN,862.344366,NaN,NaN,NaN,NaN
13,2014-03-18,836.061156,849.328906,832.477887,846.859375,124700,0.0,0,0.000000,-2.775289,847.666673,NaN,NaN,860.936639,NaN,859.469901,902.747172,816.192629
14,2014-03-19,852.137374,861.724973,833.833684,854.752136,134676,0.0,0,38.831343,0.081838,849.083766,NaN,NaN,860.374412,NaN,857.380811,898.317756,816.443867
15,2014-03-20,846.423500,854.171084,842.549709,847.488770,53398,0.0,0,36.642314,-0.079226,848.764766,NaN,NaN,859.202990,NaN,855.049617,894.079816,816.019419
16,2014-03-21,849.183562,878.769694,849.183562,869.666260,174879,0.0,0,46.550069,0.649765,852.945065,NaN,NaN,860.154196,NaN,853.507019,887.790262,819.223776
17,2014-03-24,875.283298,880.125538,861.531324,875.428589,116263,0.0,0,48.790823,0.814635,857.441770,NaN,NaN,861.542777,NaN,853.607326,888.156347,819.058305
18,2014-03-25,867.729364,873.927454,862.790303,866.809326,78974,0.0,0,45.704358,0.587540,859.315281,NaN,NaN,862.021555,NaN,853.296038,887.236686,819.355390
19,2014-03-26,862.887127,868.891516,856.543804,862.983948,87586,0.0,0,44.363035,0.488848,860.049014,NaN,NaN,862.109045,NaN,852.165026,883.388613,820.941439
20,2014-03-27,849.425644,895.814323,849.425644,882.837097,266461,0.0,0,52.203031,1.065698,864.606631,NaN,NaN,863.993413,NaN,853.081587,887.181920,818.981253
21,2014-03-28,876.445417,886.129897,872.668447,883.515076,132294,0.0,0,52.449453,1.083829,868.388320,NaN,NaN,865.768110,NaN,854.821333,892.549507,817.093158
22,2014-03-31,873.588445,889.035201,873.588445,887.534119,118241,0.0,0,53.964624,1.195312,872.217480,NaN,NaN,867.746838,NaN,857.868482,898.883620,816.853345
23,2014-04-01,889.035236,889.035236,871.603172,876.881226,93671,0.0,0,49.465402,0.864269,873.150229,NaN,NaN,868.577237,NaN,861.361816,899.649290,823.074342
24,2014-04-02,869.666265,878.430707,869.666265,872.813721,87840,0.0,0,47.825810,0.743631,873.082927,NaN,NaN,868.962372,NaN,863.959333,899.823553,828.095113
25,2014-04-03,871.651505,894.845843,871.603094,885.548767,262920,0.0,0,53.070690,1.129538,875.576095,2.916014,-872.660081,870.470226,NaN,867.843506,899.997264,835.689748
26,2014-04-04,886.129921,890.875340,869.860006,871.651611,124194,0.0,0,47.463449,0.716970,874.791198,2.570581,-872.220618,870.577624,57.276147,870.340716,897.039932,843.641500
27,2014-04-07,872.668512,877.704453,857.076522,865.405151,115761,0.0,0,45.154126,0.547055,872.913989,1.772355,-871.141634,870.107400,58.245043,871.665414,894.970582,848.360246
28,2014-04-09,872.862217,872.862217,852.524808,860.950317,312115,0.0,0,43.527559,0.427375,870.521255,0.771395,-869.749860,869.274938,63.803049,872.108141,894.234947,849.981335
29,2014-04-10,866.760861,866.760861,859.981725,864.872375,92655,0.0,0,45.392620,0.564603,869.391479,0.291247,-869.100232,868.874705,68.624173,873.349827,891.029397,855.670257
30,2014-04-11,864.824065,876.445441,855.139585,868.165222,145225,0.0,0,46.975950,0.681101,869.146228,0.174421,-868.971807,868.810206,68.505800,873.242610,891.036247,855.448974
31,2014-04-15,866.760870,870.150438,856.156354,861.967041,53231,0.0,0,44.368180,0.489227,867.710390,-0.413539,-868.123929,868.188100,68.175865,872.281071,890.996841,853.565302
32,2014-04-16,857.609105,867.729399,852.815276,859.013367,78856,0.0,0,43.139189,0.398800,865.970986,-1.105099,-867.076085,867.354034,67.892508,871.724217,891.571021,851.877413
33,2014-04-17,858.335466,866.276751,843.372932,862.064026,79320,0.0,0,44.838713,0.523847,865.189594,-1.390969,-866.580563,866.873124,63.067895,871.658508,891.635629,851.681388
34,2014-04-21,862.063971,871.603160,859.933374,863.613464,54089,0.0,0,45.726015,0.589133,864.874368,-1.475488,-866.349855,866.576791,62.963226,870.285392,889.583801,850.986982
35,2014-04-22,864.872337,873.539957,854.074179,859.352173,219099,0.0,0,43.646610,0.436135,863.769929,-1.864823,-865.634752,865.920008,62.285356,868.559470,887.066853,850.052087
36,2014-04-23,859.352250,866.567199,852.234181,856.737488,172396,0.0,0,42.373310,0.342448,862.363441,-2.357186,-864.720626,865.085233,61.667730,866.359711,882.293972,850.425449
37,2014-04-24,856.737488,856.737488,856.737488,856.737488,0,0.0,0,42.373310,0.342448,861.238250,-2.716077,-863.954327,864.326347,61.009346,864.920872,880.393712,849.448032
38,2014-04-25,850.394126,875.476952,850.394126,863.613464,184265,0.0,0,47.081681,0.688880,861.713293,-2.417797,-864.131089,864.261540,60.620068,864.263711,879.059186,849.468236
39,2014-04-28,871.796830,890.487863,871.796830,881.239197,488222,0.0,0,56.820789,1.405463,865.618474,-0.750506,-866.368980,865.804963,63.323077,863.955885,876.908243,851.003526

In [17]:
dabur = pd.read_csv(DATA_HOME+'\\dabur\\dabur.csv')


dabur = rsi(dabur, windowdays=14)

dabur = stochastic_RSI(dabur,windowsize=14)

dabur = macd(dabur)

dabur = current_EMA(dabur)

dabur = choppiness_index(dabur)

dabur = bollinger_bands(dabur)

dabur.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2014-02-25,157.685558,158.829866,156.632801,157.502472,437027,0.0,0,0.0,-1.827984,NaN,NaN,NaN,157.502472,NaN,NaN,NaN,NaN
1,2014-02-26,156.724354,158.829882,156.724354,157.548264,1330846,0.0,0,0.0,-1.827984,NaN,NaN,NaN,157.506635,NaN,NaN,NaN,NaN
2,2014-02-28,157.548260,160.569220,157.548260,158.784103,774081,0.0,0,0.0,-1.827984,NaN,NaN,NaN,157.622768,NaN,NaN,NaN,NaN
3,2014-03-03,157.960169,158.509429,156.083503,157.731308,525786,0.0,0,0.0,-1.827984,NaN,NaN,NaN,157.632636,NaN,NaN,NaN,NaN
4,2014-03-04,157.685568,159.974183,155.946227,159.333374,1043201,0.0,0,0.0,-1.827984,NaN,NaN,NaN,157.787248,NaN,NaN,NaN,NaN

In [18]:
maruti = pd.read_csv(DATA_HOME+'\\maruti\\maruti.csv')


maruti = rsi(maruti, windowdays=14)

maruti = stochastic_RSI(maruti,windowsize=14)

maruti = macd(maruti)

maruti = current_EMA(maruti)

maruti = choppiness_index(maruti)

maruti = bollinger_bands(maruti)

maruti.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2014-02-25,1569.544005,1573.072994,1553.106603,1558.307129,245384,0.0,0,0.0,-1.669939,NaN,NaN,NaN,1558.307129,NaN,NaN,NaN,NaN
1,2014-02-26,1549.020371,1563.971924,1533.232993,1545.352173,584837,0.0,0,0.0,-1.669939,NaN,NaN,NaN,1557.129406,NaN,NaN,NaN,NaN
2,2014-02-28,1523.017778,1540.708975,1460.796930,1475.655640,1768632,0.0,0,0.0,-1.669939,NaN,NaN,NaN,1549.722700,NaN,NaN,NaN,NaN
3,2014-03-03,1469.155132,1501.565720,1462.654445,1469.340820,1060385,0.0,0,0.0,-1.669939,NaN,NaN,NaN,1542.415256,NaN,NaN,NaN,NaN
4,2014-03-04,1464.511664,1488.657069,1439.437590,1483.456543,797764,0.0,0,0.0,-1.669939,NaN,NaN,NaN,1537.055373,NaN,NaN,NaN,NaN

In [19]:
tcs = pd.read_csv(DATA_HOME+'\\tcs\\tcs.csv')


tcs = rsi(tcs, windowdays=14)

tcs = stochastic_RSI(tcs,windowsize=14)

tcs = macd(tcs)

tcs = current_EMA(tcs)

tcs = choppiness_index(tcs)

tcs = bollinger_bands(tcs)

tcs.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2014-02-25,929.748448,934.208182,925.925818,929.705933,3305374,0.0,0.0,0.0,-1.015456,NaN,NaN,NaN,929.705933,NaN,NaN,NaN,NaN
1,2014-02-26,931.872037,932.296774,924.715184,926.838867,3859712,0.0,0.0,0.0,-1.015456,NaN,NaN,NaN,929.445290,NaN,NaN,NaN,NaN
2,2014-02-28,917.855833,968.399491,917.494766,966.594360,3988192,0.0,0.0,0.0,-1.015456,NaN,NaN,NaN,932.822478,NaN,NaN,NaN,NaN
3,2014-03-03,964.916600,976.469414,946.313117,951.431213,1606078,0.0,0.0,0.0,-1.015456,NaN,NaN,NaN,934.514182,NaN,NaN,NaN,NaN
4,2014-03-04,948.521890,957.356433,944.614333,951.686157,2030332,0.0,0.0,0.0,-1.015456,NaN,NaN,NaN,936.075270,NaN,NaN,NaN,NaN

In [20]:
apollohosp.to_csv(DATA_HOME+'\\apollohosp\\apollohosp_technicalindicators.csv')
dabur.to_csv(DATA_HOME+'\\dabur\\dabur_technicalindicators.csv')
maruti.to_csv(DATA_HOME+'\\maruti\\maruti_technicalindicators.csv')
tcs.to_csv(DATA_HOME+'\\tcs\\tcs_technicalindicators.csv')