## Calculation of Technical Indicators using Price Data

In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import yfinance as yf

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read data for apollohosp

apollohosp = pd.read_csv("apollohosp_stockpricedata.csv")
apollohosp.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0

In [3]:
def rsi(datadf, windowdays=14):
    '''
    Calculates and returns rsi values for given window size
    RSI=100-[100/(1+(Average gain)/(Average Loss))] , Default windowsize=14 days
    '''
    length = len(datadf)
    datadf['Up'] = 0
    datadf['Down'] = 0
    datadf['AverageGain'] =0
    datadf['AverageLoss'] =0
    datadf['RStrength']=0
    datadf['RSI']=0
    
    for i in range(1,length):
        if datadf['Close'][i] >=datadf['Close'][i-1] :
            datadf['Up'][i] = datadf['Close'][i] - datadf['Close'][i-1]
        else:
            datadf['Down'][i] = abs(datadf['Close'][i] - datadf['Close'][i-1])
    
    # Calculating average for 14 days RSI
    for i in range(windowdays,length):
        if i==windowdays:
            datadf['AverageGain'][i] = datadf['Up'][1:(i+1)].mean()
            datadf['AverageLoss'][i] = datadf['Down'][1:(i+1)].mean()
        else:
            datadf['AverageGain'][i] = ((windowdays-1)*datadf['AverageGain'][i-1]+datadf['Up'][i])/windowdays
            datadf['AverageLoss'][i] = ((windowdays-1)*datadf['AverageLoss'][i-1]+datadf['Down'][i])/windowdays
            
        datadf['RStrength'][i] = datadf['AverageGain'][i]/datadf['AverageLoss'][i]
        datadf['RSI'][i] = 100 - (100/(1+datadf['RStrength'][i]))
    
    datadf = datadf.drop(['Up','Down','AverageGain','AverageLoss','RStrength'],axis=1)
    
    return datadf

In [4]:
apollohosp = rsi(apollohosp, windowdays=14)

In [5]:
apollohosp.head(30)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.000000
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.000000
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.000000
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.000000
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.000000
5,2017-03-02,1313.065133,1313.998079,1288.807359,1296.909668,128015,0.0,0,0.000000
6,2017-03-03,1262.487046,1265.826203,1219.765781,1224.087036,11491327,0.0,0,0.000000
7,2017-03-06,1233.416879,1240.733461,1217.064923,1228.260864,372468,0.0,0,0.000000
8,2017-03-07,1222.712012,1240.880825,1220.846001,1237.590820,182547,0.0,0,0.000000
9,2017-03-08,1240.291525,1240.291525,1220.993276,1226.591187,154933,0.0,0,0.000000
10,2017-03-09,1227.966270,1228.015423,1200.123814,1203.561157,215058,0.0,0,0.000000
11,2017-03-10,1207.784138,1213.578420,1181.071001,1183.968262,277582,0.0,0,0.000000
12,2017-03-14,1202.971884,1202.971884,1170.660835,1178.566772,528728,0.0,0,0.000000
13,2017-03-15,1178.517558,1198.503227,1174.147270,1191.186646,789166,0.0,0,0.000000
14,2017-03-16,1194.231185,1210.926852,1194.231185,1204.101318,327363,0.0,0,29.582048
15,2017-03-17,1205.427183,1210.926908,1184.262921,1194.427612,257105,0.0,0,28.355589
16,2017-03-20,1197.766696,1203.266421,1184.852084,1190.057251,162905,0.0,0,27.794929
17,2017-03-21,1191.235544,1196.146033,1163.884142,1173.165039,276008,0.0,0,25.681287
18,2017-03-22,1160.839963,1164.719203,1154.554511,1162.313110,360841,0.0,0,24.397716
19,2017-03-23,1172.624932,1176.356952,1160.888909,1163.982422,158252,0.0,0,25.018545
20,2017-03-24,1158.875613,1161.085333,1154.947221,1157.402466,210816,0.0,0,24.175815
21,2017-03-27,1158.875675,1165.161126,1141.688959,1144.340576,237568,0.0,0,22.551850
22,2017-03-28,1139.233767,1148.072650,1130.542223,1137.465942,449855,0.0,0,21.724712
23,2017-03-29,1140.216000,1149.054883,1125.631866,1130.836914,391444,0.0,0,20.927635
24,2017-03-30,1130.394970,1151.215403,1129.363719,1135.059937,709342,0.0,0,22.869116
25,2017-03-31,1134.568710,1152.884861,1134.568710,1144.291504,550326,0.0,0,27.083838
26,2017-04-03,1149.054765,1163.786236,1149.054765,1151.804688,466859,0.0,0,30.416419
27,2017-04-05,1159.857700,1160.839798,1133.390207,1139.086304,570139,0.0,0,28.077039
28,2017-04-06,1130.394825,1137.564188,1117.627551,1124.698608,344716,0.0,0,25.671624
29,2017-04-07,1123.520071,1161.723706,1110.949169,1141.296021,642531,0.0,0,32.821565

In [6]:
# Calculating Stochaststic RSI values
def stochastic_RSI(datadf, windowsize=14):
    '''
    This function computes stochastic RSI values using RSI values 
    StochasticRSI = (RSI - min (RSI))/(max(RSI) - min(RSI)) , default look back period 14 days
    '''
    length=len(datadf)
    datadf['minRSI'] =0
    datadf['maxRSI'] =0
    datadf['stockRSI'] =0
    for i in range(windowsize,length):
        datadf['minRSI'] = datadf['RSI'][i-windowsize : i+1 ].min()
        datadf['maxRSI'] = datadf['RSI'][i-windowsize : i+1 ].max()
    
    datadf['stockRSI'] = (datadf['RSI'] - datadf['minRSI'])/(datadf['maxRSI'] - datadf['minRSI'])
    
    datadf = datadf.drop(['minRSI','maxRSI'],axis=1)
    return datadf

In [7]:
apollohosp = stochastic_RSI(apollohosp,windowsize=14)

In [8]:
# MACD Calculation
def macd(datadf,emawindowLow=12,windowHigh=26,strengthLkp=9):
    '''
    This function calculates MACD momentum and strength
    MACD = EMA(12days)- EMA(26 days) , Strength = MACD - EMA(MACD,9days)
    '''
    datadf['ema_low'] = datadf['Close'].ewm(span=emawindowLow,adjust=False, min_periods=emawindowLow).mean()
    datadf['ema_high'] = datadf['Close'].ewm(span=windowHigh,adjust=False, min_periods=windowHigh).mean()
    
    datadf['macd_strength'] = datadf['Close'].ewm(span=strengthLkp,adjust=False, min_periods=strengthLkp).mean()
    
    datadf['macd'] = datadf['ema_low'] - datadf['ema_high']
    datadf['macd_h'] = datadf['macd'] - datadf['macd_strength']
    
    datadf = datadf.drop(['ema_low','ema_high'],axis=1)
    
    return datadf

In [9]:
apollohosp = macd(apollohosp)
apollohosp.head(50)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
5,2017-03-02,1313.065133,1313.998079,1288.807359,1296.909668,128015,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
6,2017-03-03,1262.487046,1265.826203,1219.765781,1224.087036,11491327,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
7,2017-03-06,1233.416879,1240.733461,1217.064923,1228.260864,372468,0.0,0,0.000000,-2.943279,NaN,NaN,NaN
8,2017-03-07,1222.712012,1240.880825,1220.846001,1237.590820,182547,0.0,0,0.000000,-2.943279,1263.591280,NaN,NaN
9,2017-03-08,1240.291525,1240.291525,1220.993276,1226.591187,154933,0.0,0,0.000000,-2.943279,1256.191261,NaN,NaN
10,2017-03-09,1227.966270,1228.015423,1200.123814,1203.561157,215058,0.0,0,0.000000,-2.943279,1245.665240,NaN,NaN
11,2017-03-10,1207.784138,1213.578420,1181.071001,1183.968262,277582,0.0,0,0.000000,-2.943279,1233.325845,NaN,NaN
12,2017-03-14,1202.971884,1202.971884,1170.660835,1178.566772,528728,0.0,0,0.000000,-2.943279,1222.374030,NaN,NaN
13,2017-03-15,1178.517558,1198.503227,1174.147270,1191.186646,789166,0.0,0,0.000000,-2.943279,1216.136553,NaN,NaN
14,2017-03-16,1194.231185,1210.926852,1194.231185,1204.101318,327363,0.0,0,29.582048,-0.634945,1213.729506,NaN,NaN
15,2017-03-17,1205.427183,1210.926908,1184.262921,1194.427612,257105,0.0,0,28.355589,-0.730648,1209.869127,NaN,NaN
16,2017-03-20,1197.766696,1203.266421,1184.852084,1190.057251,162905,0.0,0,27.794929,-0.774397,1205.906752,NaN,NaN
17,2017-03-21,1191.235544,1196.146033,1163.884142,1173.165039,276008,0.0,0,25.681287,-0.939328,1199.358410,NaN,NaN
18,2017-03-22,1160.839963,1164.719203,1154.554511,1162.313110,360841,0.0,0,24.397716,-1.039487,1191.949350,NaN,NaN
19,2017-03-23,1172.624932,1176.356952,1160.888909,1163.982422,158252,0.0,0,25.018545,-0.991043,1186.355964,NaN,NaN
20,2017-03-24,1158.875613,1161.085333,1154.947221,1157.402466,210816,0.0,0,24.175815,-1.056802,1180.565264,NaN,NaN
21,2017-03-27,1158.875675,1165.161126,1141.688959,1144.340576,237568,0.0,0,22.551850,-1.183523,1173.320327,NaN,NaN
22,2017-03-28,1139.233767,1148.072650,1130.542223,1137.465942,449855,0.0,0,21.724712,-1.248065,1166.149450,NaN,NaN
23,2017-03-29,1140.216000,1149.054883,1125.631866,1130.836914,391444,0.0,0,20.927635,-1.310263,1159.086943,NaN,NaN
24,2017-03-30,1130.394970,1151.215403,1129.363719,1135.059937,709342,0.0,0,22.869116,-1.158766,1154.281542,NaN,NaN
25,2017-03-31,1134.568710,1152.884861,1134.568710,1144.291504,550326,0.0,0,27.083838,-0.829884,1152.283534,-34.977295,-1187.260829
26,2017-04-03,1149.054765,1163.786236,1149.054765,1151.804688,466859,0.0,0,30.416419,-0.569838,1152.187765,-33.088151,-1185.275915
27,2017-04-05,1159.857700,1160.839798,1133.390207,1139.086304,570139,0.0,0,28.077039,-0.752384,1149.567472,-32.245551,-1181.813023
28,2017-04-06,1130.394825,1137.564188,1117.627551,1124.698608,344716,0.0,0,25.671624,-0.940082,1144.593700,-32.365659,-1176.959359
29,2017-04-07,1123.520071,1161.723706,1110.949169,1141.296021,642531,0.0,0,32.821565,-0.382161,1143.934164,-30.766912,-1174.701076
30,2017-04-10,1150.822422,1157.795294,1130.591109,1153.817749,263634,0.0,0,37.691297,-0.002168,1145.910881,-28.164828,-1174.075709
31,2017-04-11,1165.602953,1165.701139,1150.233096,1160.790649,346748,0.0,0,40.287132,0.200389,1148.886835,-25.248949,-1174.135784
32,2017-04-12,1164.768129,1164.768129,1141.394151,1151.558960,300890,0.0,0,38.028282,0.024127,1149.421260,-23.413122,-1172.834382
33,2017-04-13,1143.162091,1163.786149,1143.162091,1154.505371,326016,0.0,0,39.199995,0.115558,1150.438082,-21.472938,-1171.911020
34,2017-04-17,1155.929325,1158.777433,1145.126248,1154.014282,124892,0.0,0,39.067411,0.105212,1151.153322,-19.747321,-1170.900643
35,2017-04-18,1149.545786,1157.549909,1138.742707,1144.537109,216089,0.0,0,36.501607,-0.095001,1149.830079,-18.926314,-1168.756394
36,2017-04-19,1149.005648,1149.005648,1128.185216,1130.591309,102906,0.0,0,33.060720,-0.363499,1145.982325,-19.179877,-1165.162202
37,2017-04-20,1139.184613,1143.162158,1130.149359,1138.644531,342726,0.0,0,36.767604,-0.074245,1144.514766,-18.517540,-1163.032307
38,2017-04-21,1137.269476,1155.929338,1134.666892,1146.648560,281126,0.0,0,40.305814,0.201847,1144.941525,-17.149092,-1162.090617
39,2017-04-24,1146.648608,1151.902809,1139.233720,1141.836304,173546,0.0,0,38.896589,0.091883,1144.320481,-16.265398,-1160.585879
40,2017-04-25,1142.671054,1149.054691,1142.572868,1146.844971,154925,0.0,0,41.200902,0.271692,1144.825379,-14.988132,-1159.813511
41,2017-04-26,1149.054729,1203.070122,1141.492622,1195.606201,931424,0.0,0,57.861543,1.571748,1154.981543,-9.926836,-1164.908380
42,2017-04-27,1222.662842,1247.264445,1213.038354,1223.104858,1353125,0.0,0,64.048287,2.054509,1168.606206,-3.654682,-1172.260888
43,2017-04-28,1220.747942,1235.479413,1204.101427,1211.172485,315690,0.0,0,59.936107,1.733629,1177.119462,0.349178,-1176.770285
44,2017-05-02,1212.891044,1219.765730,1193.543761,1206.311035,530508,0.0,0,58.293961,1.605490,1182.957777,3.094317,-1179.863459
45,2017-05-03,1200.123654,1213.873025,1193.985542,1201.302124,233195,0.0,0,56.574063,1.471284,1186.626646,4.810234,-1181.816412
46,2017-05-04,1212.891058,1228.850151,1204.101329,1221.238892,283313,0.0,0,61.449418,1.851715,1193.549095,7.690193,-1185.858902
47,2017-05-05,1213.873040,1249.228566,1213.873040,1242.795776,597665,0.0,0,65.906446,2.199504,1203.398431,11.578571,-1191.819861
48,2017-05-08,1242.353880,1249.424937,1233.564151,1244.121704,202470,0.0,0,66.165560,2.219723,1211.543086,14.598843,-1196.944243
49,2017-05-09,1243.139909,1265.924539,1241.666762,1256.152710,361604,0.0,0,68.504580,2.402240,1220.465011,17.758524,-1202.706487

In [10]:
# Exponential Moving Average Calculation
def current_EMA(datadf,ma_days=21):
    '''
    Calculates Exponential Moving Average for ma_days
    Current EMA =  
    (Current value * (1 +( Constant /(1+ days of interest)) + (Previous EMA * (1 -( Constant /(1+ days of interest)), constant is a number generally 2
    '''
    datadf['ema'] = datadf['Close'].ewm(span=ma_days,adjust=False).mean()
    
    return datadf

In [11]:
# Create new dataframe to store EMA results
apollohosp = current_EMA(apollohosp)
apollohosp.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.0,-2.943279,NaN,NaN,NaN,1302.458374
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.0,-2.943279,NaN,NaN,NaN,1302.226241
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.0,-2.943279,NaN,NaN,NaN,1299.287660
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.0,-2.943279,NaN,NaN,NaN,1297.384046
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.0,-2.943279,NaN,NaN,NaN,1297.814098

In [12]:
# Choppiness Index Calculation
def choppiness_index(datadf,lookback=14):
    '''
    Calculate Choppiness Index for the trend 
    CI = 100 * log10(sum(Average Range of price over past n steps)/(Highest price during n steps -Lowest price during n steps))) / log10(n), 
    where n_steps= user defined length 
    '''
    # True Range
    length = len(datadf)
    datadf['tr']=0
    for i in range(1,length):
        datadf['tr'][i] = max([datadf['High'][i] -datadf['Low'][i],datadf['High'][i] - datadf['Close'][i-1],datadf['Close'][i-1] - datadf['Low'][i]])
        
    # ATR : Average True Range 
    datadf['ATR']=0
    datadf['ATR'] = datadf['tr'].rolling(lookback).mean()
    
    # ATR Sum
    
    datadf['ATR_sum'] = datadf['ATR'].rolling(lookback).sum()
    
    # Division 
    datadf['temp'] = datadf['ATR_sum'] /(datadf['High'].rolling(lookback).max() - datadf['Low'].rolling(lookback).min())
    
    # Choppiness Index
    CI= 100 * np.log10(datadf['temp']) / np.log10(lookback)
    
    datadf = datadf.drop(['tr','ATR','ATR_sum','temp'],axis=1)
    
    return CI

In [13]:
apollohosp['CI'] = choppiness_index(apollohosp)
apollohosp.head(30)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,macd_strength,macd,macd_h,ema,tr,ATR,ATR_sum,temp,CI
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1302.458374,0.000000,NaN,NaN,NaN,NaN
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1302.226241,28.431690,NaN,NaN,NaN,NaN
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1299.287660,46.158606,NaN,NaN,NaN,NaN
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1297.384046,32.556573,NaN,NaN,NaN,NaN
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1297.814098,36.435812,NaN,NaN,NaN,NaN
5,2017-03-02,1313.065133,1313.998079,1288.807359,1296.909668,128015,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1297.731877,25.190720,NaN,NaN,NaN,NaN
6,2017-03-03,1262.487046,1265.826203,1219.765781,1224.087036,11491327,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1291.036892,77.143887,NaN,NaN,NaN,NaN
7,2017-03-06,1233.416879,1240.733461,1217.064923,1228.260864,372468,0.0,0,0.000000,-2.943279,NaN,NaN,NaN,1285.329980,23.668537,NaN,NaN,NaN,NaN
8,2017-03-07,1222.712012,1240.880825,1220.846001,1237.590820,182547,0.0,0,0.000000,-2.943279,1263.591280,NaN,NaN,1280.990057,20.034823,NaN,NaN,NaN,NaN
9,2017-03-08,1240.291525,1240.291525,1220.993276,1226.591187,154933,0.0,0,0.000000,-2.943279,1256.191261,NaN,NaN,1276.044705,19.298249,NaN,NaN,NaN,NaN
10,2017-03-09,1227.966270,1228.015423,1200.123814,1203.561157,215058,0.0,0,0.000000,-2.943279,1245.665240,NaN,NaN,1269.455291,27.891609,NaN,NaN,NaN,NaN
11,2017-03-10,1207.784138,1213.578420,1181.071001,1183.968262,277582,0.0,0,0.000000,-2.943279,1233.325845,NaN,NaN,1261.683743,32.507419,NaN,NaN,NaN,NaN
12,2017-03-14,1202.971884,1202.971884,1170.660835,1178.566772,528728,0.0,0,0.000000,-2.943279,1222.374030,NaN,NaN,1254.127655,32.311049,NaN,NaN,NaN,NaN
13,2017-03-15,1178.517558,1198.503227,1174.147270,1191.186646,789166,0.0,0,0.000000,-2.943279,1216.136553,NaN,NaN,1248.405745,24.355958,30.427495,NaN,NaN,NaN
14,2017-03-16,1194.231185,1210.926852,1194.231185,1204.101318,327363,0.0,0,29.582048,-0.634945,1213.729506,NaN,NaN,1244.378070,19.740206,31.837510,NaN,NaN,NaN
15,2017-03-17,1205.427183,1210.926908,1184.262921,1194.427612,257105,0.0,0,28.355589,-0.730648,1209.869127,NaN,NaN,1239.837119,26.663986,31.711245,NaN,NaN,NaN
16,2017-03-20,1197.766696,1203.266421,1184.852084,1190.057251,162905,0.0,0,27.794929,-0.774397,1205.906752,NaN,NaN,1235.311677,18.414337,29.729512,NaN,NaN,NaN
17,2017-03-21,1191.235544,1196.146033,1163.884142,1173.165039,276008,0.0,0,25.681287,-0.939328,1199.358410,NaN,NaN,1229.661982,32.261891,29.708463,NaN,NaN,NaN
18,2017-03-22,1160.839963,1164.719203,1154.554511,1162.313110,360841,0.0,0,24.397716,-1.039487,1191.949350,NaN,NaN,1223.539358,18.610528,28.435228,NaN,NaN,NaN
19,2017-03-23,1172.624932,1176.356952,1160.888909,1163.982422,158252,0.0,0,25.018545,-0.991043,1186.355964,NaN,NaN,1218.125091,15.468042,27.740751,NaN,NaN,NaN
20,2017-03-24,1158.875613,1161.085333,1154.947221,1157.402466,210816,0.0,0,24.175815,-1.056802,1180.565264,NaN,NaN,1212.604852,9.035201,22.875845,NaN,NaN,NaN
21,2017-03-27,1158.875675,1165.161126,1141.688959,1144.340576,237568,0.0,0,22.551850,-1.183523,1173.320327,NaN,NaN,1206.399009,23.472167,22.861819,NaN,NaN,NaN
22,2017-03-28,1139.233767,1148.072650,1130.542223,1137.465942,449855,0.0,0,21.724712,-1.248065,1166.149450,NaN,NaN,1200.132366,17.530427,22.682933,NaN,NaN,NaN
23,2017-03-29,1140.216000,1149.054883,1125.631866,1130.836914,391444,0.0,0,20.927635,-1.310263,1159.086943,NaN,NaN,1193.832780,23.423018,22.977560,NaN,NaN,NaN
24,2017-03-30,1130.394970,1151.215403,1129.363719,1135.059937,709342,0.0,0,22.869116,-1.158766,1154.281542,NaN,NaN,1188.489794,21.851684,22.546137,NaN,NaN,NaN
25,2017-03-31,1134.568710,1152.884861,1134.568710,1144.291504,550326,0.0,0,27.083838,-0.829884,1152.283534,-34.977295,-1187.260829,1184.471768,18.316152,21.532475,NaN,NaN,NaN
26,2017-04-03,1149.054765,1163.786236,1149.054765,1151.804688,466859,0.0,0,30.416419,-0.569838,1152.187765,-33.088151,-1185.275915,1181.502033,19.494732,20.617023,365.683997,4.287283,55.158075
27,2017-04-05,1159.857700,1160.839798,1133.390207,1139.086304,570139,0.0,0,28.077039,-0.752384,1149.567472,-32.245551,-1181.813023,1177.646058,27.449590,20.837997,356.094499,4.174856,54.151147
28,2017-04-06,1130.394825,1137.564188,1117.627551,1124.698608,344716,0.0,0,25.671624,-0.940082,1144.593700,-32.365659,-1176.959359,1172.832653,21.458753,20.960751,345.217740,3.700108,49.576874
29,2017-04-07,1123.520071,1161.723706,1110.949169,1141.296021,642531,0.0,0,32.821565,-0.382161,1143.934164,-30.766912,-1174.701076,1169.965687,50.774537,22.682933,336.189427,3.641675,48.973689

In [14]:
def bollinger_bands(datadf,k=2,n_days=14):
    datadf['Bollinger_centralBand'] = datadf['Close'].rolling(n_days).mean()
    
    datadf['Bollinger_upperBand'] = datadf['Bollinger_centralBand'] + k*datadf['Close'].rolling(n_days).std()
    
    datadf['Bollinger_lowerband'] = datadf['Bollinger_centralBand'] - k*datadf['Close'].rolling(n_days).std()
    
    return datadf

In [15]:
apollohosp = bollinger_bands(apollohosp)
apollohosp.head(40)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,...,macd_h,ema,tr,ATR,ATR_sum,temp,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.0,-2.943279,...,NaN,1302.458374,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.0,-2.943279,...,NaN,1302.226241,28.431690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.0,-2.943279,...,NaN,1299.287660,46.158606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.0,-2.943279,...,NaN,1297.384046,32.556573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.0,-2.943279,...,NaN,1297.814098,36.435812,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
apollohosp.head(40)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,stockRSI,...,macd_h,ema,tr,ATR,ATR_sum,temp,CI,Bollinger_centralBand,Bollinger_upperBand,Bollinger_lowerband
0,2017-02-22,1270.834865,1307.467170,1269.312565,1302.458374,517355,0.0,0,0.000000,-2.943279,...,NaN,1302.458374,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02-23,1307.074271,1319.890578,1291.458888,1299.904907,321408,0.0,0,0.000000,-2.943279,...,NaN,1302.226241,28.431690,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-02-27,1296.369348,1308.154524,1261.995919,1269.901855,274556,0.0,0,0.000000,-2.943279,...,NaN,1299.287660,46.158606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-02-28,1283.602101,1286.548395,1253.991822,1278.347900,214423,0.0,0,0.000000,-2.943279,...,NaN,1297.384046,32.556573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-03-01,1296.123850,1314.783712,1282.767341,1302.114624,217624,0.0,0,0.000000,-2.943279,...,NaN,1297.814098,36.435812,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-03-02,1313.065133,1313.998079,1288.807359,1296.909668,128015,0.0,0,0.000000,-2.943279,...,NaN,1297.731877,25.190720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-03-03,1262.487046,1265.826203,1219.765781,1224.087036,11491327,0.0,0,0.000000,-2.943279,...,NaN,1291.036892,77.143887,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-03-06,1233.416879,1240.733461,1217.064923,1228.260864,372468,0.0,0,0.000000,-2.943279,...,NaN,1285.329980,23.668537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-03-07,1222.712012,1240.880825,1220.846001,1237.590820,182547,0.0,0,0.000000,-2.943279,...,NaN,1280.990057,20.034823,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-03-08,1240.291525,1240.291525,1220.993276,1226.591187,154933,0.0,0,0.000000,-2.943279,...,NaN,1276.044705,19.298249,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-03-09,1227.966270,1228.015423,1200.123814,1203.561157,215058,0.0,0,0.000000,-2.943279,...,NaN,1269.455291,27.891609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2017-03-10,1207.784138,1213.578420,1181.071001,1183.968262,277582,0.0,0,0.000000,-2.943279,...,NaN,1261.683743,32.507419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-03-14,1202.971884,1202.971884,1170.660835,1178.566772,528728,0.0,0,0.000000,-2.943279,...,NaN,1254.127655,32.311049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-03-15,1178.517558,1198.503227,1174.147270,1191.186646,789166,0.0,0,0.000000,-2.943279,...,NaN,1248.405745,24.355958,30.427495,NaN,NaN,NaN,1244.532148,1337.126317,1151.937979
14,2017-03-16,1194.231185,1210.926852,1194.231185,1204.101318,327363,0.0,0,29.582048,-0.634945,...,NaN,1244.378070,19.740206,31.837510,NaN,NaN,NaN,1237.506644,1326.002897,1149.010391
15,2017-03-17,1205.427183,1210.926908,1184.262921,1194.427612,257105,0.0,0,28.355589,-0.730648,...,NaN,1239.837119,26.663986,31.711245,NaN,NaN,NaN,1229.972552,1313.399611,1146.545492
16,2017-03-20,1197.766696,1203.266421,1184.852084,1190.057251,162905,0.0,0,27.794929,-0.774397,...,NaN,1235.311677,18.414337,29.729512,NaN,NaN,NaN,1224.269366,1306.850336,1141.688395
17,2017-03-21,1191.235544,1196.146033,1163.884142,1173.165039,276008,0.0,0,25.681287,-0.939328,...,NaN,1229.661982,32.261891,29.708463,NaN,NaN,NaN,1216.756304,1297.256038,1136.256570
18,2017-03-22,1160.839963,1164.719203,1154.554511,1162.313110,360841,0.0,0,24.397716,-1.039487,...,NaN,1223.539358,18.610528,28.435228,NaN,NaN,NaN,1206.770482,1275.478692,1138.062272
19,2017-03-23,1172.624932,1176.356952,1160.888909,1163.982422,158252,0.0,0,25.018545,-0.991043,...,NaN,1218.125091,15.468042,27.740751,NaN,NaN,NaN,1197.275678,1246.222387,1148.328970
20,2017-03-24,1158.875613,1161.085333,1154.947221,1157.402466,210816,0.0,0,24.175815,-1.056802,...,NaN,1212.604852,9.035201,22.875845,NaN,NaN,NaN,1192.512495,1243.168740,1141.856250
21,2017-03-27,1158.875675,1165.161126,1141.688959,1144.340576,237568,0.0,0,22.551850,-1.183523,...,NaN,1206.399009,23.472167,22.861819,NaN,NaN,NaN,1186.518188,1238.787383,1134.248994
22,2017-03-28,1139.233767,1148.072650,1130.542223,1137.465942,449855,0.0,0,21.724712,-1.248065,...,NaN,1200.132366,17.530427,22.682933,NaN,NaN,NaN,1179.366411,1228.858793,1129.874030
23,2017-03-29,1140.216000,1149.054883,1125.631866,1130.836914,391444,0.0,0,20.927635,-1.310263,...,NaN,1193.832780,23.423018,22.977560,NaN,NaN,NaN,1172.526821,1220.343375,1124.710267
24,2017-03-30,1130.394970,1151.215403,1129.363719,1135.059937,709342,0.0,0,22.869116,-1.158766,...,NaN,1188.489794,21.851684,22.546137,NaN,NaN,NaN,1167.633876,1215.788559,1119.479193
25,2017-03-31,1134.568710,1152.884861,1134.568710,1144.291504,550326,0.0,0,27.083838,-0.829884,...,-1187.260829,1184.471768,18.316152,21.532475,NaN,NaN,NaN,1164.799822,1213.480720,1116.118924
26,2017-04-03,1149.054765,1163.786236,1149.054765,1151.804688,466859,0.0,0,30.416419,-0.569838,...,-1185.275915,1181.502033,19.494732,20.617023,365.683997,4.287283,55.158075,1162.888245,1211.341660,1114.434829
27,2017-04-05,1159.857700,1160.839798,1133.390207,1139.086304,570139,0.0,0,28.077039,-0.752384,...,-1181.813023,1177.646058,27.449590,20.837997,356.094499,4.174856,54.151147,1159.166792,1206.241128,1112.092455
28,2017-04-06,1130.394825,1137.564188,1117.627551,1124.698608,344716,0.0,0,25.671624,-0.940082,...,-1176.959359,1172.832653,21.458753,20.960751,345.217740,3.700108,49.576874,1153.495170,1196.176744,1110.813595
29,2017-04-07,1123.520071,1161.723706,1110.949169,1141.296021,642531,0.0,0,32.821565,-0.382161,...,-1174.701076,1169.965687,50.774537,22.682933,336.189427,3.641675,48.973689,1149.700056,1185.615741,1113.784370
30,2017-04-10,1150.822422,1157.795294,1130.591109,1153.817749,263634,0.0,0,37.691297,-0.002168,...,-1174.075709,1168.497692,27.204185,23.310779,329.770695,3.870691,51.284711,1147.111520,1174.772870,1119.450170
31,2017-04-11,1165.602953,1165.701139,1150.233096,1160.790649,346748,0.0,0,40.287132,0.200389,...,-1174.135784,1167.797052,15.468043,22.111218,322.173450,4.925613,60.417362,1146.227635,1170.935987,1121.519283
32,2017-04-12,1164.768129,1164.768129,1141.394151,1151.558960,300890,0.0,0,38.028282,0.024127,...,-1172.834382,1166.320862,23.373978,22.451465,316.189686,4.834129,59.706966,1145.459481,1168.634755,1122.284208
33,2017-04-13,1143.162091,1163.786149,1143.162091,1154.505371,326016,0.0,0,39.199995,0.115558,...,-1171.911020,1165.246726,20.624058,22.819752,311.268687,5.685068,65.850905,1144.782549,1166.106907,1123.458191
34,2017-04-17,1155.929325,1158.777433,1145.126248,1154.014282,124892,0.0,0,39.067411,0.105212,...,-1170.900643,1164.225595,13.651186,23.149465,311.542306,5.690066,65.884200,1144.540536,1165.317812,1123.763260
35,2017-04-18,1149.545786,1157.549909,1138.742707,1144.537109,216089,0.0,0,36.501607,-0.095001,...,-1168.756394,1162.435733,18.807202,22.816253,311.496741,5.689233,65.878657,1144.554574,1165.331534,1123.777615
36,2017-04-19,1149.005648,1149.005648,1128.185216,1130.591309,102906,0.0,0,33.060720,-0.363499,...,-1165.162202,1159.540785,20.820432,23.051254,311.865061,5.695961,65.923435,1144.063529,1165.862011,1122.265047
37,2017-04-20,1139.184613,1143.162158,1130.149359,1138.644531,342726,0.0,0,36.767604,-0.074245,...,-1163.032307,1157.641126,13.012799,22.307667,311.195168,5.683726,65.841954,1144.621216,1165.334518,1123.907913
38,2017-04-21,1137.269476,1155.929338,1134.666892,1146.648560,281126,0.0,0,40.305814,0.201847,...,-1162.090617,1156.641801,21.262446,22.265578,310.914609,5.678601,65.807777,1145.448975,1165.429599,1125.468350
39,2017-04-24,1146.648608,1151.902809,1139.233720,1141.836304,173546,0.0,0,38.896589,0.091883,...,-1160.585879,1155.295847,12.669089,21.862216,311.244351,5.684624,65.847942,1145.273603,1165.340902,1125.206305

In [26]:
# Read Financial ratios dataset and merge both datasets
apollohosp_findata = pd.read_csv("apollohosp_financials.csv")
apollohosp_findata.head(30)

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Debt_Equity_Ratio,...,Total Income,Expenditure,Operating Profit,Interest,PBDT,Depreciation,PBT,Tax,Net Profit,EPS (Rs)
0,0,2016-09-01,1327.796541,1348.420599,1321.658428,1332.412354,409739,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
1,1,2016-09-02,1333.688980,1353.330939,1322.885903,1349.648071,212780,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
2,2,2016-09-06,1350.090080,1382.793992,1347.438463,1379.749512,244571,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
3,3,2016-09-07,1384.758276,1389.619614,1347.438550,1352.103516,257776,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
4,4,2016-09-08,1352.103415,1360.696772,1333.689077,1339.876343,202360,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
5,5,2016-09-09,1338.747087,1341.300518,1323.966462,1328.876953,129028,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
6,6,2016-09-12,1320.921721,1325.734025,1283.700186,1289.445435,206870,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
7,7,2016-09-14,1281.637957,1290.476840,1263.665515,1271.325928,212815,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
8,8,2016-09-15,1275.254223,1276.678217,1250.210725,1256.005127,278462,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
9,9,2016-09-16,1261.504969,1296.222112,1250.456366,1282.129028,339922,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
10,10,2016-09-19,1278.691572,1289.985699,1266.906396,1276.972900,139657,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
11,11,2016-09-20,1272.798948,1287.530417,1266.906360,1274.124756,163986,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
12,12,2016-09-21,1276.531025,1294.306975,1275.352436,1288.365234,250010,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
13,13,2016-09-22,1295.092653,1320.921880,1295.092653,1317.975586,341784,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
14,14,2016-09-23,1320.676319,1323.524428,1300.297785,1315.274780,239458,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
15,15,2016-09-26,1316.993292,1318.859302,1303.243921,1313.015747,158922,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
16,16,2016-09-27,1326.814522,1337.126552,1311.935712,1333.541870,151778,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
17,17,2016-09-28,1337.175621,1346.210875,1322.886047,1334.769409,210283,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
18,18,2016-09-29,1330.840933,1342.429737,1303.784206,1312.082886,290220,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
19,19,2016-09-30,1296.467705,1307.172598,1266.906575,1289.887695,259945,0.0,0,0.62,...,1643.54,1412.19,1308.32,46.88,92.48,60.30,124.17,32.18,91.99,6.61
20,20,2016-12-01,1171.642880,1199.239809,1168.696586,1185.588623,177639,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
21,21,2016-12-02,1188.289572,1205.967338,1173.656406,1176.504395,186602,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
22,22,2016-12-05,1188.338519,1190.744611,1168.794746,1177.437256,269574,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
23,23,2016-12-06,1182.446062,1205.034317,1176.553473,1196.195435,127886,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
24,24,2016-12-07,1199.239820,1209.944712,1196.195340,1204.199463,116776,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
25,25,2016-12-08,1208.962658,1214.511535,1197.177481,1202.186157,116515,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
26,26,2016-12-09,1203.070149,1208.569874,1193.249168,1203.168335,72551,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
27,27,2016-12-12,1202.087968,1214.757056,1193.740135,1204.543213,49462,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
28,28,2016-12-13,1217.703412,1219.765794,1200.958592,1215.542725,71030,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23
29,29,2016-12-14,1212.891230,1229.586899,1207.931586,1215.837524,111709,0.0,0,0.62,...,1683.69,1486.53,1333.50,51.33,73.00,61.76,84.07,11.24,72.83,5.23

In [ ]:
# Merging both the datasets